<label *ngIf="to.label" [ngClass]="to['labelClass']" [attr.for]="to['id']">{{ to.label }}</label>
<ng-container [ngSwitch]="field.type">
  <input
    *ngSwitchCase="'text'"
    type="text"
    [ngClass]="to['class']"
    [placeholder]="to.placeholder"
    [formControl]="formControl"
    [id]="to['id']"
    [autocomplete]="to['autocomplete']"
  />
  <input
    *ngSwitchCase="'email'"
    type="email"
    [ngClass]="to['class']"
    [placeholder]="to.placeholder"
    [formControl]="formControl"
    [id]="to['id']"
    [autocomplete]="to['autocomplete']"
    pattern="^[\\w-\\.]+@([\\w-]+\\.)+[\\w-]{2,4}$"
  />
  <input
    *ngSwitchCase="'number'"
    type="tel"
    [ngClass]="to['class']"
    [placeholder]="to.placeholder"
    [formControl]="formControl"
    [id]="to['id']"
    pattern="^\d{10,12}$"
  />
  <select
    *ngSwitchCase="'select'"
    [ngClass]="to['class']"
    [formControl]="formControl"
    [id]="to['id']"
  >
    <option *ngIf="to.placeholder" value="">{{ to.placeholder }}</option>
      <ng-container *ngIf="options$ | async as options">
        <option *ngFor="let option of options" [value]="option.value">
          {{ option.label }}
        </option>
      </ng-container>
  </select>
  <div *ngSwitchCase="'radio'" class="form-check">
    <ng-container *ngIf="options$ | async as options">
      <div *ngFor="let option of options" class="form-check me-3">
        <input
          type="radio"
          [ngClass]="to['class']"
          [id]="to['id']"
          [value]="option.value"
          [formControl]="formControl"
          [id]="to['id']"
        />
        <label class="form-check-label" [for]="to['id']">
          {{ option.label }}
        </label>
      </div>
    </ng-container>
  </div>
  <input
    *ngSwitchDefault
    type="text"
    [ngClass]="to['class']"
    [placeholder]="to.placeholder"
    [formControl]="formControl"
    [id]="to['id']"
  />
</ng-container>
<div *ngIf="showError" class="text-danger mt-1">
  <formly-validation-message [field]="field"></formly-validation-message>
</div>