<div class="container-fluid d-flex bg-white shadow align-items-center justify-content-between rounded-bottom-2">
  <h1 class="ms-3">Angular Forms</h1>
  <div class="d-flex p-3 justify-content-end">
    <button type="button" class="btn btn-dark me-3 p-3" *ngIf="savedFormNames.length > 0 && showSideDiv" (click)="closeSideDiv()">Saved Forms</button>
    <button type="button" class="btn btn-warning me-3 p-3" *ngIf="fields.length > 0" (click)="onEditFieldsClick()">Edit Fields</button>
    <button type="button" class="btn btn-primary me-3 p-3" *ngIf="formHeading && savedFormNames.length != 0" data-bs-toggle="modal" data-bs-target="#formModal">Add Field</button>
    <button type="button" class="btn btn-info me-3 p-3" *ngIf="showForm && savedFormNames.length != 0" (click)="closeForm()">Wrappers</button>
    <button type="button" class="btn btn-danger me-3 p-3" *ngIf="showForm && savedFormNames.length != 0" (click)="closeForm()">Close Form</button>
    <button type="button" class="btn btn-success p-3" (click)="createNewForm()">Create New Form</button>
  </div>
</div>  

<div class="d-flex gap-5">
  <div class="position-absolute start-0 bottom-0 bg-white shadow w-25 rounded-end-5 rounded-bottom-0" style="flex: 1; height: 70vh; max-height: 70vh; overflow-y: auto; scrollbar-width: none;">
    <div class="p-3" *ngIf="!showSideDiv">
      <h5 class="mb-3">Saved Forms</h5>
      <ul class="list-group">
        <li *ngFor="let formName of savedFormNames" 
            class="list-group-item d-flex justify-content-between align-items-center"
            (contextmenu)="showContextMenu($event, formName)" 
            #inputField
            >
          <span style="cursor: pointer;" (click)="loadSavedForm(formName)">{{ formName }}</span>
          <button type="button" 
                  class="btn border-0" 
                  data-bs-toggle="modal" 
                  data-bs-target="#editFormNameModal"
                  (click)="openEditFormNameModal(formName)">
            <i class='fas fa-edit'></i>
          </button>
        </li>
        <li *ngIf="savedFormNames.length === 0" class="list-group-item text-muted">
          No saved forms found.
        </li>
      </ul>
    </div>
    <div *ngIf="showSideDiv">
      <button type="button" class="btn border-0" 
              *ngIf="modalStep() === 'select' && fields.length > 0" 
              (click)="closeSideDiv()"><b>&#x2715;</b></button>

      <div *ngIf="modalStep() === 'select' && fields.length > 0" class="container p-3">
        <ul class="list-group">
          <li *ngFor="let f of fields; let i = index" 
              class="list-group-item d-flex justify-content-between align-items-center"
              (contextmenu)="editContextMenu($event, i)" #inputField>
            {{ f.props?.label || f.key }}
            <div class="d-flex">
              <!-- OPEN MODAL FOR EDIT -->
              <button class="btn btn-sm btn-primary me-2" 
                      (click)="openEditFieldModal(i)" 
                      data-bs-toggle="modal" 
                      data-bs-target="#editFieldModal">
                Edit
              </button>
              <button class="btn btn-sm btn-danger" (click)="deleteField(i)">Delete</button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container position-absolute bottom-0 end-0 w-75">
    <div class="d-flex flex-column gap-2 p-4 bg-white rounded-top-5 shadow" style="flex: 1; height: 70vh; max-height: 70vh; overflow-y: auto; scrollbar-width: none;">
      <div *ngIf="formHeading">
        <div class="d-flex justify-content-between" (contextmenu)="showFormContextMenu($event)" #inputField>
          <h1>{{ formHeading }}</h1>
          <button type="button" class="btn btn-success" *ngIf="formChanged" (click)="saveForm()">Save Form</button>
        </div>
        <form [formGroup]="form" (ngSubmit)="onSubmit(model)" class="mt-3">
        <formly-form [model]="model" [fields]="fields" [form]="form"></formly-form>
          <div class="d-flex justify-content-center" *ngIf="!isEdit()" (contextmenu)="showFormContextMenu($event)" #inputField>
            <button type="submit" class="btn btn-primary mt-3" *ngIf="fields.length != 0">Submit</button>
            <p *ngIf="fields.length === 0"><em>Start adding fields...</em></p>
          </div>
          <div class="d-flex justify-content-center gap-3" *ngIf="isEdit()">
            <button type="button" class="btn btn-warning" (click)="update(model)" [disabled]="!form.valid">Update</button>
            <button type="button" class="btn border" (click)="cancel()">Cancel</button>
          </div>
        </form>
        <div class="table mt-3" (contextmenu)="showFormContextMenu($event)" #inputField>
          <table class="table table-bordered">
            <thead *ngIf="users.length != 0">
              <tr>
                <th>UID</th>
                <th *ngFor="let f of displayFields">{{ f.label }}</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="users.length === 0">
                <td [attr.colspan]="displayFields.length + 2" class="text-center">No users found.</td>
              </tr>
              <tr *ngFor="let user of users">
                <td>{{ user.id }}</td>
                <td *ngFor="let f of displayFields">
                  {{ getValue(user, f.key) }}
                </td>
                <td>
                  <div class="d-flex gap-2">
                    <button class="btn btn-warning" (click)="editUser(user.id)">Edit</button>
                    <button class="btn btn-danger" (click)="deleteUser(user.id)">Delete</button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="formModal" tabindex="-1" aria-labelledby="formModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="formModalLabel">Choose Field Type</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="cancelFieldModal()" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row g-3 justify-content-center">
          <div class="col-3">
            <button type="button" class="btn btn-outline-primary w-100 p-5" data-bs-dismiss="modal" (click)="addFixedField('input')">Input</button>
          </div>
          <div class="col-3">
            <button type="button" class="btn btn-outline-secondary w-100 p-5" data-bs-dismiss="modal" (click)="addFixedField('textarea')">Textarea</button>
          </div>
          <div class="col-3">
            <button type="button" class="btn btn-outline-success w-100 p-5" data-bs-dismiss="modal" (click)="addFixedField('select')">Select</button>
          </div>
          <div class="col-3">
            <button type="button" class="btn btn-outline-warning w-100 p-5" data-bs-dismiss="modal" (click)="addFixedField('radio')">Radio</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Edit Form Name Modal -->
<div class="modal fade" id="editFormNameModal" tabindex="-1" aria-labelledby="editFormNameModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal header -->
      <div class="modal-header">
        <h5 class="modal-title" id="editFormNameModalLabel">Edit Form</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form [formGroup]="editFormModal" class="p-4 container" (ngSubmit)="saveFormNameChange()">
          <formly-form [model]="editFormModel" [fields]="editFormFields" [form]="editFormModal"></formly-form>
          <button type="submit" class="btn btn-primary w-100 mt-3 mb-2" data-bs-dismiss="modal">Save</button>
          <button type="button" class="btn btn-danger w-100" (click)="deleteFormName()" data-bs-dismiss="modal">Delete Form</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- EDIT FIELD MODAL -->
<div class="modal fade" id="editFieldModal" tabindex="-1" aria-labelledby="editFieldModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="editFieldModalLabel">Edit Field</h5>
        <button type="button" class="btn-close border-0" data-bs-dismiss="modal" aria-label="Close"
                (click)="cancelFieldModal()"></button>
      </div>

      <div class="modal-body">
        <form [formGroup]="modalForm" (ngSubmit)="saveFieldEdit()" class="container">
          <formly-form [form]="modalForm" [fields]="modalFields" [model]="modalModel"></formly-form>
          
          <div class="mt-4 d-flex justify-content-end">
            <button type="submit" class="btn btn-primary me-2" data-bs-dismiss="modal">Save</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="cancelFieldModal()">Cancel</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
<!-- Context Menu -->
<div *ngIf="menuVisible" class="custom-menu" [ngStyle]="{ top: menuPosition.y + 'px', left: menuPosition.x + 'px' }">
  <ul class="list-group">
    <li class="list-group-item" (click)="onMenuClick('loadSavedForm')">Open Form</li>
    <li class="list-group-item" (click)="onMenuClick('openEditFormNameModal')" data-bs-toggle="modal" data-bs-target="#editFormNameModal">Edit Form</li>
    <li class="list-group-item" (click)="onMenuClick('deleteFormName')">Delete Form</li>
  </ul>
</div>
<div *ngIf="formMenuVisible" class="custom-menu" [ngStyle]="{ top: menuPosition.y + 'px', left: menuPosition.x + 'px' }">
  <ul class="list-group">
    <li class="list-group-item" (click)="onMenuClick('loadSavedForm')" data-bs-toggle="modal" data-bs-target="#formModal">Add Field</li>
    <li class="list-group-item" (click)="onEditFieldsClick()">Edit Fields</li>
    <li class="list-group-item" (click)="closeForm()">Close Form</li>
  </ul>
</div>
<div *ngIf="editMenuVisible" class="custom-menu" [ngStyle]="{ top: menuPosition.y + 'px', left: menuPosition.x + 'px' }">
  <ul class="list-group">
    <li class="list-group-item" (click)="onMenuClick('openEditFieldModal')" data-bs-toggle="modal" data-bs-target="#editFieldModal">Edit Field</li>
    <li class="list-group-item" (click)="onMenuClick('deleteField')">Delete Field</li>
  </ul>
</div>