<label *ngIf="to.label" [ngClass]="to['labelClass']" [attr.for]="to['id']">{{ to.label }}</label>
<ng-container [ngSwitch]="field.type">
	<input
		*ngSwitchCase="'text'"
		type="text"
		[ngClass]="to['class']"
		[placeholder]="to.placeholder"
		[formControl]="formControl"
		[id]="field['key']"
	/>
	<input
		*ngSwitchCase="'email'"
		type="email"
		[ngClass]="to['class']"
		[placeholder]="to.placeholder"
		[formControl]="formControl"
		[id]="field['key']"
	/>
	<input
		*ngSwitchCase="'number'"
		type="number"
		[ngClass]="to['class']"
		[placeholder]="to.placeholder"
		[formControl]="formControl"
		[id]="field['key']"
	/>
	<input
		*ngSwitchCase="'checkbox'"
		type="checkbox"
		[ngClass]="to['class']"
		[placeholder]="to.placeholder"
		[formControl]="formControl"
		[id]="field['key']"
	/>
	<div *ngSwitchCase="'radio'" class="form-check">
		<ng-container *ngIf="options$ | async as options">
			<div *ngFor="let option of options" class="form-check me-3">
				<input
					type="radio"
					[ngClass]="to['class']"
					[id]="field['key']"
					[value]="option.value"
					[formControl]="formControl"
				/>
				<label class="form-check-label" [for]="field['key']">
					{{ option.label }}
				</label>
			</div>
		</ng-container>
	</div>
	<input
		*ngSwitchDefault
		type="text"
		[ngClass]="to['class']"
		[placeholder]="to.placeholder"
		[formControl]="formControl"
		[id]="field['key']"
	/>
</ng-container>

<div *ngIf="showError" class="text-danger mt-1">
	<formly-validation-message [field]="field"></formly-validation-message>
</div>